body 
{		
	
	/* imagen de fondo y margenes de 0 a toda la página
	background-image: url(Imagenes/Fondo.jpg);*/
	
	margin-bottom: 0; 
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	
	/* estilo de letra principal para la página*/	
	font-family: Arial;
	font-size: 7pt;
	font-weight: normal;  

	/*estilo para los scrolls 
	scrollbar-face-color:#f1f4fb; 
	scrollbar-track-color:#f1f4fb; 
	scrollbar-shadow-color:#f1f4fb; 
	scrollbar-arrow-color: #acbbc6;*/


}
.panel
{ 

border-style:solid; 
border-width: 0px; 
border-color: #000; 
/*background-color: #FFFFFF; */
font-family: verdana, arial; 
font-size: 10pt; 
align:center;
cellspacing:0;
} 
.tituloPrincipal
{
	/* titulos utilizados solo en la portada (NOTICIA, CAPACITACION, EVENTOS)*/
	font-family: Verdana; color: #015584; 
	font-size : 7pt;
	font-weight: bold;
}
.tituloPrincipalGrande
{
	/* titulos utilizados solo en la portada (NOTICIA, CAPACITACION, EVENTOS)*/
	font-family: Verdana; color: #015584; 
	font-size : 14pt;
	font-weight: bold;
}
.Fecha
{
	/* color y tipo de letra para la fecha*/
	font-family: Verdana; color: #D74404;
	font-size : 6pt;
	font-weight: bold;
}

.MinecoWeb
{
	/* color y tipo de letra para las letras de www.mineco.gob.gt*/
	font-family: Verdana; color: black;
	font-size : 7pt;
	font-weight: bold;
}

.ContadorVisitas
{	
	/* tipo de letra para el contador de visitas*/
	font-family: Arial;
	color: #000000;
	font-size : 10px;
	font-weight: normal;
	margin-left: 155px;
}

.Copyright
{	
	/* tipo de letra para el copyright y el optimizado*/
	font-family: Tahoma;
	color: #D8DDEE;
	font-size : 11px;
	font-weight: normal;
	height:21px; text-align:center;
	

}

.Optimizado
{
	/*margen izquierdo para centrar texto de optimizado*/
    font-family: Tahoma;
	color: #D8DDEE;
	font-size : 11px;
	font-weight: normal;
	height:21px; text-align:center;
}


.CajaDeBusqueda
{	
	/*caja de texto de busqueda (Google)*/
	height: 11px;
	font-size: 10px;
}

.ParrafosContactenos
{	/*Identacion para los textos de contactenos*/
	border-style:   none; 
	padding-left:25px;
}

.BotonGoogle
{
	/*Estilo para el boton de busqueda Google*/
	font-family: Verdana; color: #015584;
	font-size : 9px;
	border-style:   none; 
}

.ContenidoServicios
{
	/*contenido de inversionistas, color gris; debe considerar removerse
	el color una vez tengan links cada elemento*/
    padding-left: 6px;
    line-height: 19px;
    font-size:7pt;
    text-align:left;
}

.InvestinGuatemala
{
	/*estilo del texto "Invest in Guatemala de la pagina de inversionistas"*/
	font-family: Verdana; 
	font-size: 6pt; 
	color: #009900; 
	font-weight:bold; 
	font-style:italic;
	text-decoration: underline;
	text-align: center;
}


.titulo
{
	font-family: Verdana; font-size: 8pt; color: #223563; font-weight: bold; line-height:20px;
}

.FondoOrganigrama2
{
	/*Fondo numero2 utilizado para el organigrama*/
	background-image: url(Imagenes/FondoOrganigrama2.jpg);
}

.tituloMinisterio
{
	/*Letra utilizada para el titulo de cada ministerio*/
	
	font-family: Verdana;  color: #336085; padding-bottom: 5px; padding-right: 5px;
}

.subtitulo
{
	/*subtitulos para las areas de Informacion General, Areas de Gestion, Servicios en Linea*/
	font-family: Verdana; color: #015584;
	font-size : 7pt;
	font-weight: bold;
	padding-left: 6px;
	line-height: 20px;
}

.subtituloSinIdentacion
{
	font-family: Verdana; color: Black;
	font-size : 8pt;
	padding-left: 0px;
	color:#223563;
}

.FondoComercio
{
	/*Fondo para el div que contiene el link para el chat*/
	background-image: url(Imagenes/Ingresar.png);
}

.MinecoEnLinea
{
	/*Tipo de letra para el texto "MINECO EN LINEA" en ComercioExterior*/
	font-family: Trebuchet MS;  font-size: 8pt; color: #CC6600; font-weight: bold;
	padding-left: 15px;
}

.Ingresar
{
	/*Tipo de letra para el texto "Ingresar" en ComercioExterior*/
	font-family: Verdana;  font-size: 6pt; color: #CC6600; text-decoration: underline;
}

.EventosFecha
{
	/*Para establecer el color gris al texto de fecha en eventos*/
	color: #8A9393; 
}

.EventosNombre
{
	/*Para establecer el color gris al texto del titulo de los eventos*/
	color: #8A9393; 
}

.TituloConsumidor
{
	/*Estilo para los titulos del area de Consumidor, difieren en color*/
	font-family: Verdana; font-size: 8pt; font-weight: bold; color:#C67114;
	padding-left: 5px; line-height:20px
}
.TituloProductor
{
	/*Estilo para los titulos del area de Productor, difieren en color*/
	font-family: Verdana; font-size: 8pt; font-weight: bold; color:#6F651D;
	padding-left: 5px; line-height: 20px;
}

.TituloEmpresario
{
	/*Estilo para los titulos del area de Empresario, difieren en color*/
	font-family: Verdana; font-size: 8pt; font-weight: bold; color:#7A4D54; line-height:20px;
}

.TituloMedios
{
	/*Estilo para los titulos del area de Medios, difieren en color*/
	font-family: Verdana; font-size: 8pt; font-weight: bold; color:#67686A;
	padding-left: 4px; line-height:20px;
}

.TituloViceministerio

{
	font-family: Verdana; 
	font-size: 8pt; 
	color: #223563; 
	font-weight: bold; 
	line-height:20px;
	padding-left: 4px;
	text-align:left;
}

.tituloInversionista
{
	/*titulo para la subdivision de inversinistas, difiere en color*/
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	color:#008000; 
	line-height:20px;
	padding-left: 5px;
	
}

/*Subtitulos para el área de Inversionista Migrante*/
.SubtitulosInversionista
{
	font-family: Verdana; 
	font-size: 7pt; 
	font-weight: bold; 
	color:#006600;
	padding-left: 6px; 
	line-height: 20px;
}


/*Subtitulos para el área de Productor Comerciante*/
.SubtitulosProductor
{
	font-family: Verdana; 
	font-size: 7pt; 
	font-weight: bold; 
	color:#6F651D;
	padding-left: 6px; 
	line-height: 20px;
}

/*Subtitulos para el área de Empresario MIPyME*/
.SubtituloEmpresario
{
	font-family: Verdana; 
	font-size: 7pt; 
	font-weight: bold; 
	color:#7A4D54;
	padding-left: 6px; 
	line-height: 20px;
}

/*Subtitulos para el área de Consumidor*/
.SubtitulosConsumidor
{
	font-family: Verdana; 
	font-size: 7pt; 
	font-weight: bold; 
	color:#C67114;
	padding-left: 6px;
	line-height: 20px;
}


/*Subtitulos para el área de Medios de Prensa.*/
.SubtituloMedios
{
	font-family: Verdana; 
	font-size: 7pt; 
	font-weight: bold; 
	color:#67686A;
	padding-left: 6px; 
	line-height: 20px;
}

.LinksSalaPrensa
{
	/*Se utiliza para los links de sala de prensa, considerar remover una vez tengan
	links definidos*/
	color: #8A9393;
	line-height: 19px;
	font-size:7pt;
	
}

.TitularesNoticias
{
	/*Se usa en la pagina principal*/
	width: 218px; 
	text-align:justify;
	height:280px;
	background-image:url("Imagenes/FondoNoticias.png");
	padding-left:10px;
	background-repeat:no-repeat;
}

.TitularesCapacitaciones
{
	/*Se usa en la pagina principal*/
	width: 188px; 
	text-align:justify;
	font-weight: normal;
	line-height:14px;
}

.TitularesEventos
{
	/*Se usa en la pagina principal*/
	width: 188px; 
	text-align:justify;
	font-weight: normal;
	line-height:14px;
}


.TitularesProgramas
{
	/*Se usa en la pagina principal*/
	color: #015584; 
	font-size : 7pt;
	width: 188px; 
	text-align:justify;
	line-height:14px;
}


.DropDownList
{
    font-family: Arial;
	font-size: 7pt;
	font-weight: normal; 
	padding-left:5px; 
}
.Button
{
    font-family: Arial;
	font-size: 7pt;
	font-weight: normal; 
	border-color:#015584; 
	border-width:1px;   	
	width: 87px; 
}
.RadioButton
{
    font-family: Arial;
	font-size: 7pt;
	font-weight: normal; 
	 margin-left:2; 
	 width:75px;
}


.ColumnaServiciosUsuarios
{
	border-right: #b5d2e1 1px solid; 
	border-top: #b5d2e1 1px solid; 
	border-left: #b5d2e1 1px solid; 
	border-bottom: #b5d2e1 1px solid;
	width:175px; 
	text-align:left;
	background-color:#ECEFF4;
	
	
}

.EncabezadoNoticia
{ color:white;  
}

.FilasGridView
{
     color: black;
}

.TituloCapacitacion
{
	font-family: Verdana; font-size: 8pt; color: #015584; font-weight: bold;
}

.Sitios
{
	color: #8A9393; text-decoration: underline;
	font-size : 7pt;
	line-height: 14px;
}
.TextAreaGrandes
{ width:300px;
  height:13px;   
  vertical-align: middle; 
}
.TextArea
{ 
	font-family: Arial;
	font-size: 7pt;
	font-weight: normal;	
}

.TextAreaMedianos
{ width:190px;
  height:13px;   
  vertical-align: middle;
}
.TextAreaPequeños
{ width:80px;
  height:13px;   
  vertical-align: middle;
  padding-right:80px; 
}

.MapaSitio 
{
	color : #494949;
}

a:link {color: #494949;}

a:visited {color: #494949;}

.OpcionMenuPrimerNivel
{
  font-family: Arial;
  font-size: 10px;
  color:#FFFFFF;
  font-weight:bold;
  background-position:left;
  background-image: url(imagenes/BotonMenuIzquierdo.jpg);
  background-repeat: no-repeat;
  padding-left:20px;
}

.OpcionMenuSegundoNivel
{
 font-family: Arial;
 font-size: 9px;
 padding-left:20px;
 background-image: url(imagenes/BotonSubMenuIzquierdo.jpg);
 background-repeat:no-repeat;
 vertical-align:middle;
 background-position:left;

}
.RadioButtonList
{ width:320;
  height:10px;
  margin-right:25px; 
  vertical-align: middle ;   	 
}


a.OpcionMenuSegundoNivel:link{color:#015584;}

a.OpcionMenuSegundoNivel:visited{color:#015584;}

a.OpcionMenuSegundoNivel:hover{color:#8A9393;}

.AlineacionTextoCentroInformacion
{
  font-family: Arial;
  text-align:justify; 
  padding-right:20px;  
  width:75%; 
}
.AlineacionTexto
{
  padding-top : 5px;
  font-family: Arial;
  font-size: 7pt; 
  text-align:justify; 
}

.TDDropDownHodler
{   padding-left:5px;
    vertical-align:middle; 
}

.textoNoticia
{
	text-align:justify;
}

.imagenNoticia
{
	padding-left: 15px;
	padding-bottom: 5px;
}

******************************

/*Clases para la manipulacion de los estilos de la pagina de organigrama
durante el AuthorMode y ReeditMode*/
.divMinistrosAutores
{
	border-color:#b5d2e1; border-style:solid; width:134px; vertical-align:top; border:2px;
}

.fondoMinistrosAutor
{
	background-image: url(Imagenes/FondoOrganigrama.jpg);
	height: 40px;
	width: 134px;
	vertical-align:middle;
}

/*Clases para la manipulacion de los estilos de la pagina de organigrama
durante el PreviewMode y PublishedMode
*/

.divMinistrosPublicado
{
	width: 163px; height: 110px; 
	border-right: #b5d2e1 thin solid; 
	border-top: #b5d2e1 thin solid; 
	border-left: #b5d2e1 thin solid; 
	border-bottom: #b5d2e1 thin solid;
}



.fondoMinistrosPublicado
{
	background-image: url(Imagenes/FondoOrganigrama2.jpg);
	height: 30px;
	width: 154px;
	padding-left: 5px;
}


***********************************

.nombresMinistros
{
	font-size: 6pt;  font-weight: bold; color: black;
}


.imagenMinistros
{
	padding-left: 5px; padding-bottom: 100px;
}

/* Estilo de Control de Usuario de Enlaces */
.VisorEnlaces
{
background-color:#ECEFF4;
height:130px; 
width: 300px; 
overflow:auto; 
padding-left:0px; 
border-right:solid 1px #c2c9d1; 
border-left:solid 1px #c2c9d1; 
border-top:solid 1px #c2c9d1; 
border-bottom:solid 1px #c2c9d1;
padding-left:5px;
padding-top: 5px;
}

.VisorEnlacesAgrupados
{
background-color:#FFFFFF;
height:130px; 
width: 300px; 
overflow:auto; 
border-right:solid 1px #c2c9d1; 
border-left:solid 1px #c2c9d1; 
border-top:solid 1px #c2c9d1; 
border-bottom:solid 1px #c2c9d1;
padding-left:2px;
padding-top: 2px;
}

.EnlacesInversionista
{
padding-left: 5px; overflow:auto; width: 165px; height: 185px;

}

.EnlacesProductor
{
padding-left: 5px; overflow:auto; width: 165px; height: 340px;
}

.EnlacesMIPyME
{
padding-left: 5px; overflow:auto; width: 165px; height: 310px;
}

.EnlacesConsumidor
{
padding-left: 5px; overflow:auto; width: 165px; height: 240px;
}

.EnlacesMediosPrensa
{
padding-left: 5px; overflow:auto; width: 165px; height: 220px;
}

.EnlacesCrecimiento
{
	padding-left: 5px; overflow:auto; width: 165px; height: 100px;
}

.EnlacesComercio
{
	padding-left: 5px; overflow:auto; width: 165px; height: 405px; font-size:20pt;
}


.EnlacesArbitros
{
	padding-left: 5px; overflow:auto; width: 165px; height: 210px;
}

.EnlacesAsesoresRNE
{
	padding-left: 5px; overflow:auto; width: 165px; height: 235px; 
}


.EnlacesDireccionAdminComEx
{
	padding-left: 5px; overflow:auto; width: 165px; height: 356px;
}

.EnlacesInversion
{
	padding-left: 5px; overflow:auto; width: 165px; height: 160px;
}

.EnlacesVentanillaAgil
{
	padding-left: 10px; overflow:auto; width: 165px; height: 100px;
}


/*Estilo de Control de Usuario de Documentos */
.VisorDeDocumentos
{
	width: 444px; 
	border-right: #b5d2e1 1px solid; 
	border-top: #b5d2e1 1px solid;
    border-left: #b5d2e1 1px solid; 
    border-bottom: #b5d2e1 1px solid;
    height: 170px;
    background-color:white;
}

.MultiVisorDocumentos
{
	width: 444px; 
	border-right: #b5d2e1 1px solid; 
	border-top: #b5d2e1 1px solid;
    border-left: #b5d2e1 1px solid; 
    border-bottom: #b5d2e1 1px solid;
    height: 90px;
}

/*Estilo usado en la portada del sitio en la lista de enlaces */
.EnlacesPortada
{
	background-color:#f1f4fb;
	height:210px; width: 180px; 
	overflow:auto;  
	padding-left:5px; 
	border-right:solid 1px #c2c9d1; border-left:solid 1px #c2c9d1; border-top:solid 1px #c2c9d1; border-bottom:solid 1px #c2c9d1;
}

.VisorDocumentosParticipacion
{
	width: 444px; 
	border-right: #b5d2e1 1px solid; 
	border-top: #b5d2e1 1px solid;
    border-left: #b5d2e1 1px solid; 
    border-bottom: #b5d2e1 1px solid;
    height: 170px;
}


.VisorDocumentosRegistroCapacitacion
{
	width: 444px; 
	border-right: #b5d2e1 1px solid; 
	border-top: #b5d2e1 1px solid;
    border-left: #b5d2e1 1px solid; 
    border-bottom: #b5d2e1 1px solid;
    height: 170px;
}


.VisorEnlacesCentroInformacionyExpoNegocios
{
height:90px; 
width: 165px; 
overflow:auto; 
padding-left:10px; 
border-right:solid 0px #c2c9d1; 
border-left:solid 0px #c2c9d1; 
border-top:solid 0px #c2c9d1; 
border-bottom:solid 0px #c2c9d1;
}

.TextboxCapacitacion
{
	font-size: 7pt;
	width: 110px;
	height: 11px; 
}

.IndentacionCelda
{
	padding-left: 3px;
}
.FondoLinea1
{
	background-color:#DCE1EC; 
	background-image:  url(Imagenes/LineaFondo1.jpg); 
	background-repeat: repeat-x; 
	background-position: top left; 
	width: 643px; text-align: left; 
	padding-right:0px; 
	height: 635px;
}
.FondoLinea2
{
	 background-color: #68799F; 
	 background-image: url(Imagenes/LineaFondo2.jpg); 
	 background-repeat: repeat-x; 
	 background-position: top left;
}
.FondoMenuIzquierda 
{
    background-image:url(Imagenes/FondoMenuIzquiedo.png); 
    background-repeat: repeat-x; 
    background-color:Transparent;
	background-position: top left;
	text-align:center;
	height:542px;
	
    
}

.FondoLinea_
{
	background-color:#DCE1EC; 
	background-image:  url(Imagenes/LineaFondo1.png); 
	background-repeat: repeat-x; 
	background-position: top left;
	vertical-align:top; 


}


.Contenido
{
    width: 630px;

    background-color:#DCE0E9;
    text-align:left;
    border-style:solid;
    border-width:3px;
    border-color:white;
    padding-left:20px;
    padding-top:20px;
    
}
.ContenidoColumnar
{
    width: 630px;
    
    background-color:#DCE0E9;
    text-align:center;
    border-style:solid;
    border-width:3px;
    border-color:white;
    padding-left:20px;
    padding-top:20px;
    
}
/*Este estilaje es para lo div que van con el estilaje de contenidocolumnar para los tilulo que vayan hacia la izquierda*/
.TituloColumnar
{
    text-align:left;
    padding-left:20px;
    color: #223563;
}

.DivPrincipalContenido 
{
    width:652px;
    text-align:left;
}

.DivVisorImagenes 
{
    height:247px; width: 652px; text-align: left; background-color:white;
}

.DivFecha 
{
  height:20px; text-align:center; vertical-align:middle; font-family:Tahoma; font-size:7pt; font-weight:bold; color:white; padding-left:8px;padding-top:5px;  
}

.DivEventos 
{
    background-image:url(Imagenes/FondoSitiosInters.png); width:210px; height:280px; padding-top:20px; padding-left:16px; background-repeat:no-repeat;
}
.DivSitiosInteres 
{
    background-image:url(Imagenes/FondoEventos.png); width:218px;height:280px; padding-top:30px; text-align:left; padding-left:10px; background-repeat:no-repeat;
}
td, table, select, div, input,p,textarea{
	font-family:tahoma;
	font-size:11px;
	vertical-align:top;
	color:#666666;
}
.mttable{
	border-style:solid; 
	border-width: 1px; 
	background-color: #FFFFFF; 
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A4C4D0;
	border-bottom-color: #A4C4D0;
}
.fb_button {
        background-color: #3b5998;
        border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 11px;
        margin: 0 2px;
        padding: 2px 18px;
}
.btransferir {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/transferirb.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.bmateriales {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/materialesb.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.bcostos {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/costosb.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
.bseguimiento {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/seguimientob.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.badjuntos {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/adjuntosb.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.brespuesta {
     padding: 0;
     margin: 0;
     border: 0;
     background: url(images/respuestab.gif) left top no-repeat;
     width: 150px;
     height: 40px;
     color: #FFF;
     font-size: 11px;
     font-weight: bolder;
     text-shadow: #333 1px 1px 3px;
     text-align: left;
     cursor: pointer;
     font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
/*
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2 {
    background: transparent url(Imagenes/cuadro8.png) no-repeat bottom right;
    margin: 0;
    padding: 0;
}
.cssbox {
    width: 100%;   
    width: 99%;              
    padding-right: 15px;     
    margin: 10px auto;       
}

.cssbox_head {
    background-position: top right;
    margin-right: -15px;       
    padding-right: 40px;       
}

.cssbox_head h2 {
    background-position: top left;
    margin: 10;     
    border: 0;      
    padding: 25px 0 15px 40px;
    height: auto;
    height: 1%;               
}

.cssbox_body {
    background-position: bottom left;
    margin-right: 10px;   
    padding: 0px 0 10px 10px; 
}

.cssbox_head h2 {
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 5px; 
    text-align: left;
    text-shadow: rgb(0,0,0) 0px 2px 5px; 
}
.cssbox_body p {
    margin: 0 0 10px;
}
.cssbox_body a, .css_body a:hover {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: underline;
}
code {
    white-space: pre;
}
*/

.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2 {
    background: transparent url(Imagenes/cuadro8.png) no-repeat bottom right;
    margin: 0;
    padding: 0;
}
.cssbox {
    width: 99%;   /* intended total box width - padding-right(next) */
    width: 99%;              /* IE Win = width - padding */
    padding-right: 15px;       /* the gap on the right edge of the image (not content padding) */
    margin: 20px auto;         /* use to position the box */
}
/* set the top-right image */
.cssbox_head {
    background-position: top right;
    margin-right: -15px;       /* pull the right image over on top of border */
    padding-right: 40px;       /* right-image-gap + right-inside padding */
}
/* set the top-left image */
.cssbox_head h2 {
    background-position: top left;
    margin: 0;                 /* reset */
    border: 0;                 /* reset */
    padding: 25px 0 15px 40px; /* padding-left = image gap + interior padding … no padding-right */
    height: auto;
    height: 1%;                /* IE Holly Hack */
}
/* set the lower-left corner image */
.cssbox_body {
    background-position: bottom left;
    margin-right: 25px;        /* interior-padding right */
    padding: 15px 0 15px 40px; /* mirror .cssbox_head right/left */
}
/* Misc Text formatting */
.cssbox_head h2 {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;      /* this is tricky if box width is in ems */
    text-align: center;
    text-shadow: rgb(0,0,0) 0px 2px 5px; /* Safari-only, but I’m doing it just ’cause I can */
}
.cssbox_body p {
    margin: 0 0 20px;
}
.cssbox_body a, .css_body a:hover {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: underline;
}
code {
    white-space: pre;
}