.tituloproducto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #0066CC;
}
.descripcionproducto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000099;
}
.lista_negra {
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
}
.detalletabla1 {
/*	background-color: #CCFFCC;*/
	background-color: #99CCFF;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
.detalletabla2 {
/*	background-color: #99CCCC;*/
	background-color: #C9CDED;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.detalletabla3 {
	background-color: #CCCCCC;
}
.detalletabla4 {
	background-color: #FFFFFF;
}
.detalletabla5 {
	background-color: #CCCCCC;
	font-size: xx-small;
}
.detalletabla6 {
	background-color: #FFFFFF;
	font-size: xx-small;
}
.categorias {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: x-small;
}
.titulocategoria {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: small;
	font-weight: bold;
}
.titulotabla {
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
	
}
.titulomenu {
/*	background-color: #0A64AA ;*/
/*	background-color: #FFFFFF;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
/*	color: #FFFFFF;*/
	color: #0A64AA;
	font-weight: bold;
	
}
.defaultlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: x-small;
}
.defaulttext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: x-small;
}
.defaultfieldname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: x-small;
	font-weight: bold;	
}
.nombreusuario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFCC00;
	font-size: x-small;
	font-weight: bold;	

}
.titulotablatexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
}
.error {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: x-small;
	font-weight: bold;
}
a {
	color: #006699;
	text-decoration: underline;
}
h1 {
	font-size: large;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0066CC;
}
.cuadritoAzul {
	border: 1px solid #0066CC;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #FFCC00;
}
.tablaAzul {
	border: 1px solid #0066CC;
	padding: 1px;
	font-size: x-small;
}
.cuadritoGris {
	background-color: #CCCCCC;
	border: 1px solid #999999;
}
.cuadritoGrisBlanco {

	border: 1px solid #999999;
}
.color_rojo {
	background-color: #FF0000;
}
.color_naranja {
	background-color: #FF9966;
}
.color_amarillo {
	background-color: #FFFF00;
}
.color_verde {
	background-color: #00FF00;
}
.menuizq {
	color : #000000;
	margin-top : 2px;
	padding-bottom : 1px;
	margin-bottom : 1px;
	margin-left : 20px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
.menuizq a {
	color : #000000;
	text-decoration: none;
}
.menuizq a:hover {
	color : #333333;
}




