.title_input, .input_content{
    width: 10%;
    text-align: center;
}
.title_input_product{
    width: 20%;
    text-align: center;
}

.input_center{
    text-align: center !important;
}

.fa{
    font-size: 3em !important;
}