body {padding:10px; background-color:#f8f8f8; text-align:center; color:#666;}
h1, h2 {font-weight:bold; letter-spacing:-1px; color:#369;}
h1 {font-size:197%;}
h2 {font-size:114%; margin-top:20px;}
h3 {font-size:107%;}
ol {list-style-type: decimal;}
p, ul, ol {margin-bottom:10px;}
h3, label, p, td, li {font-family:Helvetica;}
input, select, textarea {border:1px solid #ccc; margin:2px 0; font-family:'Courier New'; color:#00f;}

div#container {margin:0 auto; padding:10px; background-color:#fff; border:1px dotted #888; width:640px; text-align:left;}
div#container_bd ul {list-style-type: circle;}
div#container_bd ul li {margin: 0 0 5px 30px;}
div#container_ft {padding: 20px 0;}
div#container_ft p {float:left; font-size:85%;}
div#container_ft ul {float:right; margin:0;}
div#container_ft li {display:inline;}

div#license {margin-top:20px; padding:10px; background-color:#f8f8f8; border:1px dotted #888;}
ol#index_list {margin-top:5px; list-style-type:lower-roman;}
ol#index_list li {margin-left:30px;}