td, table, select, div, input, textarea{
	font-family:tahoma;
	font-size:11px;
	vertical-align:top;
	line-height:13px;
	color:#797979;
}

form { margin:0px; padding:0px}

/*body { margin:0px; padding:0px; background-color:#FFFFFF}*/

body {
	padding: 16px 0px 10px;
	background: url('../../images/background.jpg') #5f92d2 repeat-x 0% 0%;
	color: #fff;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}

.list ul{margin:0px; padding:0px; list-style:none; line-height:20px}
.list ul li{ background:url(images/list_marker.gif) no-repeat left top; color:#3C3C3C; font-weight:bold }
.list ul li a{ color:#DC3804; margin-left:15px; text-decoration:underline}
.list ul li a:hover{ text-decoration:none}

strong { color:#DC3804}

b{color:#797979}

a{ color:#DC3804; text-decoration:underline}
a:hover{ text-decoration:none}

.blue{ background-color:#6AA2FD;color:#000000;font-weight:bold}
.black{ color:#000000;font-weight:bold}
.white{ color:#FFFFFF;font-weight:bold}
.grey{ background-color:#F1F1F1}
.grey a{color:#323232; text-decoration:underline; font-weight:bold}
.grey a:hover{ text-decoration:none}

.footer { color:#7E7E7E}
.footer a{ color:#7E7E7E; text-decoration:underline}
.footer a:hover{ text-decoration:none}

.form input{
	width:154px;
	height:23px;
	color: #7E7E7E;
	padding:1px 0 0 6px;
	border-color:#A1A1A1;
	border-style:solid;
	border-width:1px;
	background-color:#ffffff
}

.form1 input{
	width:196px;
	height:20px;
	color: #7E7E7E;
	padding:1px 0 0 6px;
	border-color:#D4D0C8;
	border-width:1px;
	background-color:#ffffff
}

.form1 textarea {
	width:300px;
	height:102px;
	color: #7E7E7E;
	overflow:hidden;
	padding:1px 0 0 5px;
	border-color:#D4D0C8;
	border-width:1px;
	background-color:#ffffff
}
